.details-frame {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}

.details-frame img {
  width: 100%;
}

.details-frame p,
.details-frame h1 {
  padding: 0 2rem;
  font-size: small;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-container p {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-weight: bold;
}

.image-container button {
  border: solid 1px rgb(255, 102, 0);
  border-radius: 15px;
  background-color: rgb(255, 102, 0);
  color: white;
  font-weight: 600;
  padding: 0.3rem 1.3rem;
  position: absolute;
  top: 8px;
  right: 16px;
}
