.device-card {
  width: 80%;
  margin: 0 3rem 1.5rem;
  background-color: white
}

.device-card img {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  font-size: 0.8rem;
  padding: 1.5rem 0;
}

a,
span {
  text-decoration: none;
  color: gray;
}
