.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: small;
}

.nav a {
  text-decoration: none;
  color: gray;
  margin: 1.5rem 0;
}

.head {
  font-size: small;
  font-weight: bold;
  margin: 1.5rem 0;
}
